process_name=p0_gg_hh
process_path=p0_gg_hh

model=smdiag_complex
model.options= masses: mH mT

zero=mU,mD,mS,mC,mB,wB,wT
one=gs,e

symmetries=family,generation

# one quark flavour [t] running in the loops:
qgraf.options=onshell,notadpole,nosnail
qgraf.verbatim=true=iprop[D,U,C,S,B,0,0];


nlo_prefactors=0
polvec=explicit
extensions=quadruple,better_num,olp_badpts
reduction_programs=ninja
